{{outlet}}
<h1>Segments</h1>
{{#leaflet-map class="fietsroute" lat=lat lng=lng zoom=zoom}}

  {{tile-layer url="http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"}}

  {{#each model.segments as |segment|}}

    {{#geojson-layer geoJSON=segment.geojson onEachFeature=onEachFeature}}
      {{#tooltip-layer sticky=false}}
        {{segment.n}}: {{segment.osmid}} 
      {{/tooltip-layer}}

    {{/geojson-layer}}

  {{/each}}
{{/leaflet-map}}
